@using BaseLibrary.Entities
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@inject SfDialogService DialogService

<SfDialog Width="250px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
	<DialogEvents OnOpen="OpenDialog"></DialogEvents>

	<DialogTemplates>
		<Header>Add Department</Header>
		<Content>
			<EditForm Model="generalDapartment" Enhance OnSubmit="Save">
				<div class="card border-success">
					<div class="card-body">
						<div class="form-group">
							<label class="form-label">Name</label>
							<InputText @bind-Value="generalDapartment.Name" class="form-control" />
						</div>
					</div>
				</div>
			</EditForm>
		</Content>
	</DialogTemplates>

	<DialogButtons>
		<DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save"/>
	</DialogButtons>
</SfDialog>

@code {
	[Parameter] public GeneralDepartment generalDapartment { get; set; } = new();
	[Parameter] public EventCallback<GeneralDepartment> HandleSaveOperationEvent { get; set; }
	private bool IsVisible { get; set; } = false;
	public string Title { get; set; } = "Add";
	public void OpenDialog()
	{
		IsVisible = true;
		StateHasChanged();
	}

	async void Save()
	{
		if (string.IsNullOrEmpty(generalDapartment.Name))
			await DialogService.AlertAsync("You need to provide Department name.", "Alert!");
		else
			await HandleSaveOperationEvent.InvokeAsync(generalDapartment);
	}
}

